<h1>Articles</h1>

<div class="welcome-container"><span id="wc">Welcome </span><br> <span id="to">to </span> <br><span id="myblog"> myBlog!</span></div>


<ul>
  <% @articles.each do |article| %>
   <div class="circles-container"> <div class="circles">
    <li>
    <%= link_to article.name, article %>
    
        
    </li></div>
    </div>
  <% end %>
</ul>

