<div class="container_show">
<h1 id="show_h1"><%= @article.name %></h1>

<p id="show_p"><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Delete", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>
</div>
